@{
    ViewBag.Title = "Index";
}

<h2>Welcome to</h2>
<p class="lead">Stock Management  System:</p>
<ol class="round">
    <li class="one">
        Add in stock to a Warehouse and book out to a repairs warehouse.
    </li>
    <li class="two">
        Report showing available stock in each location.
    </li>
</ol>